.producto{
    text-align: center;
    color: tomato;
}
.cantidad{
    text-align: center;
    color: tomato;
}
.precio{
    text-align: center;
    color: tomato;
}

h3.cantidad{
    text-align: center;
    color: tomato;
}
h3.precio{
    text-align: center;
    color: tomato;
}

.unit-price{
    text-align: center;
    color: tomato;
}

.prueba{
    text-align: center;
    color: tomato;
}